<div class="h-100 flex flex-column">
    <app-top-nav
        [sideNavRef]="isUserOnMobile ? sidenav : null"
        [isDisplayingSidenav]="shouldDisplaySidenav()"
    ></app-top-nav>

    <mat-sidenav-container class="h-100">
        <mat-sidenav
            [mode]="sidenavOptions.mode"
            [fixedInViewport]="sidenavOptions.fixedInViewport"
            [opened]="sidenavOptions.opened && shouldDisplaySidenav()"
            [disableClose]="sidenavOptions.disableClose"
            #sidenav
        >
            <app-side-nav></app-side-nav>
        </mat-sidenav>

        <mat-sidenav-content class="content-container">
            <router-outlet #outlet="outlet"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
